---
import styles from '../styles/styles.css';
import RandomGif from '../components/randmgif.jsx';


const gifs = [
  '/globe.gif',
  '/neco-arc-dance.gif',
];


const randomGif = gifs[Math.floor(Math.random() * gifs.length)];
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/styles.css" />
	<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
	<title>rmdom</title>

	<style>
		div {
			position: absolute;
			top: 50%;
			left:50%;
			transform: translate(-50%, -50%);
		}

		h1 {
			font-family: JetBrains Mono;
			color: whitesmoke;
			font-size: large;
			text-align: center;
			;
		}

	</style>
</head>
<body>
	<audio id="bg-audio" src="/audio2.mp3" autoplay loop></audio>

	<div class="main"></div>

	<div>
		<RandomGif className="neko" gif={randomGif} client:load />
	</div>

	<h1>im a toast!!!!</h1>
	<a></a>
	<script>
			
			const audioPool = [
            "/audio2.mp3",
			"/audio1.mp3"
        ];

        const audio = document.getElementById('bg-audio');

        function pickRandomTrack() {
            return audioPool[Math.floor(Math.random() * audioPool.length)];
        }

        function playRandomTrack() {
            audio.src = pickRandomTrack();
            audio.play();
        }

        window.onload = function() {
            playRandomTrack();
            window.scrollTo(0, 0);
        };

        audio.addEventListener('ended', playRandomTrack);

        document.body.addEventListener('click', function() {
            if (audio.paused) {
                audio.play();
            }
        });



        audio.volume = 0.5;
        
    
	</script>
</body>
</html>